:root {
    --text:ghostwhite;
    --border: ghostwhite;
    --theme: rgb(63, 63, 63, 0.84);
    --secondary: lightgray;
}

body {
  margin: 0;
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
}

#main {
    height: 100vh;
    position: relative;
    scroll-behavior: smooth;
    overflow: scroll;
}

.header {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
}

.header-title {
    font-size: 1.2rem;
    letter-spacing: 0.6rem;
    text-align: center;
    flex: 2;
}

.header-icon {
    flex: 1;
    text-align: center;
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-map { 
    background-color: var(--theme) 
}

.header-home {
    background-color:black;
}

.header-login-link {
    font-size: 1rem;
    cursor: pointer;
}

.header-login-link:hover {
    color: var(--secondary);
}

.home-description {
    height: 100vh;
    background-image: linear-gradient(black, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('/img/fultoncenter.jpg');
    background-size: cover;
    background-position: center center;
}

.home-description-content {
    padding-top: 3rem;
    text-align: center;
}

.home-description-slogan {
    font-size: 2rem;
    padding: 1rem;
}

.home-description-slogan span {
    padding: 0.28rem;
}

.home-description-text {
    padding: 0.2rem;
}

.home-description-map {
    padding: 1rem 0;
    height: calc(100vh - 12rem);
}

.home-description-map img {
    height: 100%;
    padding: 0;
}

.home-information {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),transparent), url('/img/shinjuku.jpg');
    background-size: cover;
    background-position: center center;
}

.home-information-content {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.home-information-row {
    display: flex;
    flex: 1;
    padding: 1rem;
}

.home-information-row.top { padding-bottom: 0 }
.home-information-row.bottom { padding-top: 0 }

.home-information-section {
    flex: 1;
    margin: 1rem;
}

.home-information-title {
    font-weight: bold;
    text-align: center;
    border-bottom: 0.06rem solid var(--secondary);
    padding-bottom: 0.4rem;
}

.home-information-text {
    font-size: 0.8rem;
    padding-top: 0.6rem;
}

.login {
    position: absolute;
    top: 3.6rem;
    text-align: center;
    right: 12.5%;
    transform: translate(50%, 0);
}

.login-title { height: 2rem }
.login-input { height: 2.6rem }
.login-or { font-size: 0.6rem }

.login-signup-link { 
    font-size: 0.8rem;
    cursor: pointer;
    padding: 0.4rem;
    margin: auto 2rem;
}

.login-signup-link:hover {
    text-decoration: underline;
}

.login-input.password input {
    letter-spacing: 0.6rem;
}

.login input {
    background-color: transparent;
    color: var(--text);
    border: none;
    border-bottom: 1px solid var(--border);
    text-align: left;
    font-size: 1rem;
    padding: 0.4rem;
    width: 10rem;
}

.login input::-webkit-input-placeholder {
    opacity: 0.6;
    color: var(--text);
}

.login input:focus {
    outline: none;
}

.login-button {
    margin: 0.6rem auto;
    width: 3.6rem;
    cursor: pointer;
    padding: 0.2rem 0.4rem;
    border: 0.06rem solid var(--border);
    border-radius: 0.26rem;
    background-color: black;
}

.login-button:hover {
    border: 0.06rem solid var(--secondary);
}

.login-button-back {
    font-size: 1.4rem;
    cursor: pointer;
    position: absolute;
    top: 0.4rem;
}

.login-error {
    color: red;
    font-size: 0.8rem;
}

.map {
    height: 100vh;
}

.map-google {
    height: 100%;
}

#searchBox {
    width: 18.5rem;
    padding-right: 1rem;
    margin-left: -0.16rem;
}

#searchBox input {
    height: 2rem;
    width: 100%;
    visibility: visible;
    margin-top: 3.4rem;
    text-indent: 0.4rem;
    padding-right: 1rem;
    border: 0.06rem solid transparent;
    border-radius: 0.25rem;
    box-shadow: 0 0.125rem 0.4rem rgba(0, 0, 0, 0.6);
    text-overflow: ellipsis;
    -webkit-appearance: none;
    font-size: 0.8rem;
}

#searchBox input:focus {
    outline: 0.06rem solid transparent;
}

#searchBox .clear-input {
    font-size: 1rem;
    position: absolute;
    top: 4rem;
    right: 0.125rem;
    opacity: 0;
}

#searchBox .clear-input.active {
    opacity: 0.3;
    color: black;
}

.set-home-popup {
    text-align: center;
    z-index: 2;
    margin: 1rem -1.2rem 1rem 0;
}

.set-home-popup span {
    padding: 0 0.8rem;
    font-size: 0.8rem;
}

.gm-style .gm-style-iw-c {
    background-color: var(--theme);
    padding: 0;
}

.gm-style .gm-style-iw-t::after {
    background: linear-gradient(45deg, var(--theme) 50%,rgba(255,255,255,0) 56%,rgba(255,255,255,0) 100%);
}

.gm-style-iw-d {
    overflow: hidden !important;
}

.infoWindow {
    font-size: 0.8rem;
    font-weight: 400;
    text-align: center;
    color: var(--text);
    padding: 1rem;
}

.infoWindow-name {
    font-size: 1rem;
    margin-bottom: 0.4rem;
    padding-bottom: 0.4rem;
    border-bottom: 0.06rem solid var(--secondary);
}

.infoWindow-address {
    padding: 0.1rem 0;
}

.infoWindow-button-container {
    display: flex;
    justify-content: center;
}

.infoWindow-button {
    padding: 0.2rem 0.4rem;
    margin: 0 0.4rem;
    border: 0.06rem solid black;
    border-radius: 0.26rem;
    color: black;
}

.infoWindow-button.experiences { 
    background-color: #00bcd4;
    cursor: pointer;
}

.infoWindow-button.experiences:hover {
    background-color: #00bcd4d1;
}

.infoWindow-button.wishlist { 
    background-color: palevioletred;
    cursor: pointer; 
}

.infoWindow-button.wishlist:hover { 
    background-color: #db7093db;
}

.infoWindow-button.user-home { 
    background-color: var(--secondary);
    margin: 0.4rem auto 0;
    width: 6rem;
}

.infoWindow-button.user-home.set-home-active:hover {
    background-color: silver;
    cursor: pointer;
}

.infoWindow-date-container {
    display: flex;
    justify-content: space-between;
    margin-top: 0.4rem;
}

.infoWindow-date {
    font-size: 0.68rem;
}

.datepicker {
    display: flex;
    justify-content: space-evenly;
    margin: 0.8rem auto;
    width: 10.8rem;
}

.datepicker input {
    border: 0.06rem solid var(--secondary);
    width: 2.6rem;
    padding: 0.2rem;
    text-align: center;
}

.datepicker input:focus {
    outline: none;
}

.datepicker input::-webkit-inner-spin-button {
    display: none;
}

.datepicker-error {
    color: red;
    font-size: .68rem;
    margin-bottom: 0.8rem;
}

.footer {
    background-color: var(--theme);
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 2;
    display: flex;
    height: 3rem;
}

.footer-icon {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
}

.footer-label {
    font-size: 0.8rem;
    padding-top: 0.125rem;
    letter-spacing: 0.125rem;
}

.drawer {
    position: absolute;
    box-sizing: border-box;
    z-index: 2;
    width: 8.8rem;
    top: 3.4rem;
    bottom: 3.4rem;
    left: 0.3rem;
}

.drawer-name {
    padding-bottom: 0.32rem;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: bold;
}

.drawer-email {
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 0.82rem;
    font-style: italic;
}

.drawer-section {
    padding: 1rem 0;
    border-top: 0.06rem solid var(--secondary);
}

.drawer-section.top {
    border: none
}

.drawer-link {
    font-size: 0.72rem;
    padding-top: 0.6rem;
}

.drawer-link span {
    margin-left: 0.4rem;
    color: red;
}

.drawer-copyright {
    font-size: 0.6rem;
    font-style: italic;
    position: absolute;
    bottom: 0.2rem;
    left: 1.62rem;
}

.panel {
    position: absolute;
    top: 6rem;
    right: 1.8rem;
    left: 2rem;
    height: calc(100% - 10.68rem);
    overflow: scroll;
    z-index: 3;
}

.panel::-webkit-scrollbar {
    display: none;
}

.panel-title {
    text-align: center;
    border-bottom: 0.06rem solid var(--secondary);
    padding: 0.2rem 0 0.8rem;
    margin-bottom: 0.8rem;
    letter-spacing: 0.2rem;
}

.panel-line {
    font-size: 0.68rem;
    margin: 0.4rem 0;
    padding: 0.2rem;
    display: flex;
    border-radius: 0.26rem;
}

.panel-line.experiences { background-color: #00bcd480 }
.panel-line.wishlist { background-color: #db709396 }

.panel-column {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.panel-column.name {
    flex: 6;
}

.panel-column.city {
    flex: 2;
    margin: 0 0.4rem;
}

.panel-column.date {
    flex: 2;
    text-align: center;
}

.card {
    background-color: var(--theme);
    border: 0.06rem solid var(--border);
    box-shadow: 0.08rem 0.08rem 0.6rem 0.06rem black;
    padding: 0.6rem;
    border-radius: 0.4rem;
}

.invisible { display: none }

.plain-link:hover {
    cursor: pointer;
}

.color-link:hover {
    cursor: pointer;
    color: #c4d7e6;
}

@media only screen and (max-width: 768px) {
    .login {
        right: 0.6rem;
        transform: translate(0, 0);
    }

    .home-description-slogan {
        font-size: 1rem;
    }

    .home-description-content {
        font-size: 0.8rem;
    }

    .home-information {
        height: auto;
    }

    .home-information-row {
        flex-direction: column;
    }
}