:root {
    --text:white;
    --theme: rgb(63, 63, 63, 0.8);
    --font: Arial, Helvetica, sans-serif;
}

body {
  margin: 0px;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

#main {
    min-height: 100vh;
    position: relative;
}

#header {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--theme);
    height: 50px;
}

#headerTitle {
    font-size: 20px;
    font-family: var(--font);
    color: var(--text);
    letter-spacing: 8px;
    text-align: center;
    flex: 6;
}

.headerIcon {
    flex: 1;
    color: var(--text);
    text-align: center;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#login {
    height: 100vh;
    background-color: var(--theme);
    text-align: center;
    color: var(--text);
}

.loginContainer {
    padding-top: 100px;
    font-family: var(--font);
}

#loginFormButton {
    font-size: 16px;
    color: var(--text);
}

#loginBackButton {
    padding: 6px;
    font-size: 20px;
}

#map {
    height: 100vh;
}

#searchBoxContainer {
    width: 80%;
}

#searchBox {
    height: 28px;
    width: 100%;
    visibility: visible;
    margin-top: 56px;
    text-indent: 6px;
    padding-right: 16px;
    border: 1px solid transparent;
    border-radius: 3px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
    text-overflow: ellipsis;
    -webkit-appearance: none;
    font-size: 12px;
}

.clearSearchBox {
    font-size: 16px;
    position: absolute;
    top: 18px;
    right: -16px;
    opacity: 0%;
}

.clearActive {
    opacity: 30%;
}

.infoWindow {
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    color: var(--theme);
}

.infoWindowName {
    font-size: 16px;
}

.trashIcon {
    color: var(--theme);
    text-align: end;
}

#footer {
    background-color: var(--theme);
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 2;
    display: flex;
    min-height: 50px;
}

.footerIcon {
    flex: 1;
    color: var(--text);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-family: var(--font);
}

.footerText {
    font-size: 12px;
    padding-top: 2px;
    letter-spacing: 2px;
}